.App>table {
  margin: 0 auto;
}

.App>table th {
  text-align: right;
}

th {
  text-align: left;
}

h1 {
  width: 100%;
  text-align: center;
}

.phase {
  float: left;
  min-width: 150px;
  width: 50%;
}

.phase:nth-child(even) {
  clear: left;
}

img {
  max-width: 100%;
  max-height: 400px;
}

#footnotes,
#eclipses {
  clear: both;
}