table {
  margin: 0 auto;
}

th {
  text-align: right;
}

h1 {
  width: 100%;
  text-align: center;
}

.phase {
  float: left;
  min-width: 150px;
  width: 50%;
}

img {
  max-width: 100%;
  max-height: 400px;
}